[Unit]
Description=hello_env.js - making your environment variables rad
Documentation=https://example.com
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=pi
ExecStart=/usr/local/bin/node /home/pi/github/raspberryPi/autostart/hello_env.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
